{% extends "base.html" %}

{% load static %}
{% load common_tags %}

{% block title %}Giỏ hàng{%endblock %}

{% block content %}


<div class="container" style="margin-top: 80px;">
    <div class="col-12">
        <h1 class="h2">Giỏ hàng của bạn</h1>
    </div>
    <div class="col-12">
        <p>Quản lý <b>sản phẩm</b> trong giỏ hàng của bạn</p>
    </div>
    <hr/>
</div>
<div class="container mt-4">
    <div id="empty-basket">

    </div>
    <div class="row g-3">
        {% if basket|length == 0 %}
        <div class="col-12">Giỏ hàng của bạn đang trống <a href="{% url 'store:store_home' %}">Trang chủ</a></div>
        {% else %}

        <div class="col-md-5 col-lg-4 order-md-last p-0 order-3" id="checkout">
            <div class="d-grid gap-2" style="margin-left: 16px">
                <span class="text-danger fw-bold"
                      id="total">Tổng tiền sản phẩm: {{basket.get_subtotal_price|currency}}</span>
                <a role="button" href="{% url 'checkout:deliverychoices' %}" class="btn btn-success fw-bold my-2"
                   type="button">Thanh toán</a>
                <a class="btn btn-light" type="button" href="/">Tiếp tục mua sắm</a>
            </div>
        </div>
        <div class="col-md-7 col-lg-8 p-0">
            {% for item in basket %}
            <!--    gán giá trị cho một biến tạm thời trong phạm vi template.   -->
            {% with product=item.product %}
            <div class="card mb-3 border-0 product-item" data-index="{{product.id}}">
                <div class="row g-0 py-2">
                    <div class="col-md-2 d-none d-md-block">
                        {% for image in product.product_image.all %}
                        {% if image.is_feature%}
                        <img class="img-fluid p-2" alt="Responsive image" src="{{ image.image.url }}"
                             alt="{{ image.image.alt_text }}">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-10 ps-md-3">
                        <div class="card-body p-1">
                            <a class="text-decoration-none" href="{{item.product.get_absolute_url}}">
                                <div class="card-text">{{product.title}}</div>
                            </a>

                            <div class="card-text my-2">Giá sản phẩm:
                                <span class="text-danger">{{product.regular_price|subtract:product.discount_price|currency}}</span>
                            </div>

                            <label for="quantity-{{product.id}}">Số lượng:</label>

                            <button data-index="{{product.id}}" class="change-quantity" data-type="sub">-</button>
                            <input type="number" id="quantity-{{product.id}}" value="{{item.qty}}"
                                   style="width: 45px; text-align: center">
                            <button data-index="{{product.id}}" class="change-quantity" data-type="add">+</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<script>
    // Change quantity
    $(document).on("click", ".change-quantity", function (e) {
        e.preventDefault();
        let id = $(this).data("index");
        let type = $(this).data("type");
        let input = $('#quantity-'+id);
        let quantity = type === 'add' ? +input.val() + 1 : +input.val() - 1;
        quantity === 0 ? delete_product(id) : update_quantity(id, quantity);
    });

    // Remove product out basket
    function delete_product(id) {
        $.ajax({
            type: "POST",
            url: '{% url "basket:basket_delete" %}',
            data: {
                product_id: id,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "post",
            },
            success: function (json) {
                $('.product-item[data-index="' + id + '"]').remove();

                if (json.qty === 0) {
                    total = 0;
                    $('#checkout').remove();
                    $('#empty-basket').html(
                        `<div className="col-12">
                            Giỏ hàng của bạn đang trống
                            <a href="{% url 'store:store_home' %}">Trang chủ</a>
                        </div>`
                    );
                } else {
                    total = parseFloat(json.subtotal).toFixed(2);
                    document.getElementById("total").innerHTML = 'Tổng tiền sản phẩm: ' + format_currency(Number(total));
                }
            },
            error: function (xhr, errmsg, err) {
            },
        });
    }

    // Update product in basket
    function update_quantity(id, quantity) {
        $.ajax({
            type: "POST",
            url: '{% url "basket:basket_update" %}',
            data: {
                product_id: id,
                product_qty: quantity,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "post",
            },
            success: function (json) {
                document.getElementById("total").innerHTML = 'Tổng tiền sản phẩm: ' + format_currency(Number(json.subtotal));
                $('#quantity-'+id).val(quantity);
            },
            error: function (xhr, errmsg, err) {
            },
        });
    }
</script>

{% endblock %}