{% extends "../sub_base.html" %}
{% load static %}
{% block title %}Quên mật khẩu{% endblock %}
{% block stylesheet %}{% static '/css/register.css' %}{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}


<section class="py-5 my-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form class="account-form" style="margin-top: 50px;" action="{% url 'account:pwdreset' %}" method="post"
                      xmlns:account="http://www.w3.org/1999/xhtml">
                    {% csrf_token %}
                    <div class="text-center">
                        <h4 class="mb-0 me-3">Quên mật khẩu của bạn?</h4>
                        <p class="mt-2">Nhập địa chỉ email của bạn để lấy mật khẩu mới.</p>
                    </div>

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Mật khẩu không hợp lệ!
                    </div>
                    {% endif %}
                    <label class="small fw-bold mb-2">{{ form.email.label}}</label>
                    {{ form.email }}

                    <div class="text-center pt-2">
                        <div class="d-grid gap-2">
                            <input type="hidden" name="next" value="{{ next }}">
                            <button class="btn btn-primary py-2 fw-bold" type="submit" value="Log-in">
                                Gửi email
                            </button>
                            <p class="text-center"><a href="{% url 'account:login' %}">Đăng nhập</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}