{% extends "../sub_base.html" %}
{% block title %}Đổi mật khẩu{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<form class="login-form" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 text-center">Thay đổi mật khẩu</h1>
    <p class="text-center">Sử dụng mẫu dưới đây để thay đổi mật khẩu của bạn.</p>

    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Lỗi, Vui lòng thử lại!
    </div>
    {% endif %}

    <label class="small fw-bold my-2">Mật khẩu mới</label>
    {{ form.new_password1 }}
    <label class="small fw-bold my-2">Xác nhận mật khẩu</label>
    {{ form.new_password2 }}
    <ul>
        <li>Mật khẩu của bạn không được quá giống với thông tin cá nhân khác của bạn.</li>
        <li>Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li>
        <li>Mật khẩu của bạn không được là mật khẩu thường được sử dụng.</li>
        <li>Mật khẩu của bạn không thể hoàn toàn là số.</li>
    </ul>
    <div class="text-center">
        <button class="btn btn-primary btn-block py-2 mb-4 mt-5" type="submit" value="Change">
            Đổi mật khẩu
        </button>
    </div>
</form>
{% endblock %}